NODE_ENV=development
PORT=3002
FRONTEND_ORIGIN=http://localhost:3000,http://127.0.0.1:3000,http://localhost:3001,http://127.0.0.1:3001

DB_HOST=127.0.0.1
DB_PORT=3307
DB_USERNAME=sysmgr
DB_PASSWORD=sns123
DB_DATABASE=condev
DB_SYNCHRONIZE=false

SYSTEM_VERSION=0.1.0
JWT_SECRET=change_this_secret_for_local_dev
JWT_EXPIRES_IN=1d
LOG_LEVEL=info
LOG_TO_FILE=false
LOG_DIR=logs
